version: '3.8'

services:
  primary:
    image: postgres:16
    container_name: pg-primary
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app_password
      POSTGRES_DB: appdb
      REPLICATION_USER: replicator
      REPLICATION_PASSWORD: replicate_me
    volumes:
      - ./primary/pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
      - ./primary/init:/docker-entrypoint-initdb.d
    command: >
      postgres
        -c wal_level=replica
        -c max_wal_senders=10
        -c max_replication_slots=10
        -c hot_standby_feedback=on
        -c synchronous_commit=on
        -c synchronous_standby_names='FIRST 1 (replica1, replica2)'
    ports:
      - "5432:5432"
    networks:
      replication_net:
        ipv4_address: 172.28.0.10

  replica1:
    image: postgres:16
    container_name: pg-replica1
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app_password
      REPLICATION_USER: replicator
      REPLICATION_PASSWORD: replicate_me
      PRIMARY_HOST: primary
    volumes:
      - replica1-data:/var/lib/postgresql/data
      - ./replica/entrypoint.sh:/usr/local/bin/replica-entrypoint.sh
    entrypoint: ["/usr/local/bin/replica-entrypoint.sh"]
    depends_on:
      - primary
    ports:
      - "5433:5432"
    networks:
      replication_net:
        ipv4_address: 172.28.0.11

  replica2:
    image: postgres:16
    container_name: pg-replica2
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app_password
      REPLICATION_USER: replicator
      REPLICATION_PASSWORD: replicate_me
      PRIMARY_HOST: primary
    volumes:
      - replica2-data:/var/lib/postgresql/data
      - ./replica/entrypoint.sh:/usr/local/bin/replica-entrypoint.sh
    entrypoint: ["/usr/local/bin/replica-entrypoint.sh"]
    depends_on:
      - primary
    ports:
      - "5434:5432"
    networks:
      replication_net:
        ipv4_address: 172.28.0.12

  pgpool:
    image: bitnami/pgpool:4
    container_name: pgpool
    environment:
      - PGPOOL_BACKEND_NODES=0:primary:5432;1:replica1:5432;2:replica2:5432
      - PGPOOL_SR_CHECK_USER=app
      - PGPOOL_SR_CHECK_PASSWORD=app_password
      - PGPOOL_ENABLE_LDAP=no
      - PGPOOL_ENABLE_POOL_HBA=no
      - PGPOOL_POSTGRES_USERNAME=app
      - PGPOOL_POSTGRES_PASSWORD=app_password
      - PGPOOL_POSTGRES_CUSTOM_USERS=readonly
      - PGPOOL_POSTGRES_CUSTOM_PASSWORDS=readonly_password
      - PGPOOL_ENABLE_LOAD_BALANCING=yes
    ports:
      - "9999:5432"
    depends_on:
      - primary
      - replica1
      - replica2
    networks:
      replication_net:
        ipv4_address: 172.28.0.20

volumes:
  replica1-data:
  replica2-data:

networks:
  replication_net:
    ipam:
      config:
        - subnet: 172.28.0.0/16
